.CircleFAB {
  background-color: #90BCB3;
  border-radius: 100%;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.CircleFAB:hover {
  cursor: pointer;
}

.CircleFAB i {
  width: 100%;
}
