.bond-list {
  list-style: none;
  padding-bottom: 200px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 500px;
}

.time-since-label {
  width: 100%;
  text-align: right;
  margin: 24px 0 2px 0;
  font-size: .75rem;
  color: #5e5e5e;
}
