.add-interaction {
  text-align: left;
}

.add-interaction textarea{
  min-width: 250px;
  border: 1.5px solid #5e5e5e;
  border-radius: 3px;
  outline-color: #90BCB3;
  background-color: #FFFFFF;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  color: #262626;
  width: 100%;
}

.add-interaction input, .add-interaction select {
  width: 100%;
  border: 1.5px solid #5e5e5e;
  border-radius: 3px;
  padding-left: 15px;
  outline-color: #90BCB3;
  font-size: .9rem;
}

.add-interaction label {
  margin-left: 50px;
  font-weight: bold;
}

.add-interaction-field {
  display: flex;
  flex-direction: row;
}

.add-interaction .form-section {
  margin-bottom: 15px;
}

.add-interaction i {
  padding: 15px 10px;
}

.add-interaction .interaction-date, .add-interaction select {
  width: 125px;
}

.add-interaction .bond-name, .add-interaction .location {
  width: 200px;
}

input[type="number"] {
  width: 75px;
}

label {
  display: block;
}

.add-interaction .submit {
  background-color: #90BCB3;
  width: 240px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
  margin-right: 15px;
}

.add-interaction .submit:hover {
  cursor: pointer;
  background-color: #A6C9C2;
  color: #5e5e5e;
}

.add-interaction .submit:active {
  background-color: #80B3A8;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.add-interaction .submit:focus {
  background-color: #80B3A8;
  outline: none;
}

.add-interaction .cancel {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  color: crimson;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.add-interaction .cancel:hover {
  cursor: pointer;
  background-color: crimson;
  color: #FFFFFF;
}

.add-interaction .cancel:focus {
  background-color: crimson;
  color: #FFFFFF;
  outline: none
}

.add-interaction .cancel:active {
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.add-interaction .button-container {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0 60px 34px;
}