.last-interaction-label {
  font-weight: 800;
}

.bond {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bond i {
  font-size: 36px;
  margin: 5px 15px 5px 0;
}

.bond-content-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid #5e5e5e; 
  padding: 7.5px 0;
}

.bond-content-container:hover {
  cursor: pointer;
  background-color:  #E6EFEE;
}

li:last-child .bond-content-container{
  border-bottom: 2px solid #5e5e5e;
}

.bond .bond-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.last-interaction {
  color: #5e5e5e;
  font-size: 1rem;
}

.bond .user-img:hover {
  opacity: .8;
}