.last-interaction-label {
  font-weight: 800;
}

.bond {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.user-icon {
  margin-right: 20px;
}

.bond-name {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
}

.last-interaction {
  margin-left: auto;
}

.bond {
  border-top: 2px solid grey; 
  padding: 0px;
}

.bond:last-of-type {
  border-bottom: 2px solid grey; 
}