* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 16px;
  background: #F8F9FA;
  color: #262626;
  text-align: center;
  line-height: 1.5;
}

.app {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.4rem;
  padding-top: 15px;
  text-align: left;
  font-weight: bold;
}

section {
  padding-top: 15px;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}