.landing-page {
  text-align: left;
  max-width:none;
  padding: 0;
}

.landing-page > header {
  height: 100vh;
  background-color: #90BCB3;
  padding: 15px;
}

.main-header-container {
  max-width: 350px;
  min-width: 300px;
  margin: 0 auto;
}

.headline-container {
  margin-top: 12vh;
}

.landing-page .headline {
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 15px;
}

.value-proposition-container {
  max-width: 300px;
  margin: 15vh auto 5vh;
}

.value-proposition {
  font-size: 1.10rem;
  text-align: center;
}

.value-proposition span {
  color: #277062;
  font-weight: 800;
}

.demo-button-light {
  background-color: #F8F9FA;
  color: #277062;
  border-radius: 30px;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 35px;
  margin: 15px auto 50px auto;
  width: 250px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.demo-button-light:hover {
  background-color: #d2dfdc;
}

.demo-button-light:active {
  background-color: #d2dfdc;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.demo-button-light:focus {
  background-color: #d2dfdc;
  outline: none;
}

.view-more-below {
  display: block;
  position: absolute;
  background:none;
  border:none;
  bottom: 5vh;
  left: 50%;
  margin-left: -79px;
  font-size: 1.4rem;
  font-weight: 800;
  color: #333333;
}

.fa-arrow-down {
  font-size: 3rem;
  display: block;
  margin-bottom: 15px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.view-more-below:hover {
  cursor: pointer;
}

.view-more-below:hover {
  color: #5d5d5d;
}

.view-more-below:active {
  outline: none;
}

.view-more-below:active i {
  color: black;
}

.view-more-below:focus {
  color: black;
  outline: 2px solid gray;
}

.how-it-works-container {
  background-color: #e9f3f1;
}

.how-it-works {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.record-interaction, .monitor-health {
  display: flex;
  flex-direction: column;
}

.how-it-works h2 {
  margin: 30px 0;
  text-align: center;
  font-size: 1.8rem;
}

.how-it-works h3 {
  margin-bottom: 30px;
}

.how-it-works .screenshot-container {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.how-it-works .how-to-video {
  width: 100%;
  border: solid #e9f3f1 1px;
  border-radius: 5px;
}

.how-it-works i {
  margin-right: 10px;
}

.how-it-works p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: .8rem;
}

.demo-button-dark {
  background-color: #90BCB3;
  border-radius: 30px;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 35px;
  margin: 15px auto 50px auto;
  width: 250px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.demo-button-dark:hover {
  background-color: #A6C9C2;
  color: #5e5e5e;
}

.demo-button-dark:active {
  background-color: #80B3A8;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.demo-button-dark:focus {
  background-color: #80B3A8;
  outline: none;
}

.final-demo-button {
  padding-bottom: 60px;
}

@media (min-width: 450px) {
  .how-it-works p {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1rem;
  }
}


@media (min-width: 900px) {
  
  .how-it-works h2 {
    margin-bottom: 60px;
  }
  
  .how-it-works .screenshot-container {
    margin: 0 50px;
  }

  .record-interaction .screenshot-container {
    margin-left: 50px;
    margin-right: 0;
  }

  .monitor-health .screenshot-container {
    margin-right: 50px;
    margin-left: 0;
  }

  .how-it-works .how-to-video {
    width: 100%;
  }

  .record-interaction {
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  .monitor-health {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 60px;
  }

  .how-it-works {
    max-width: 1000px;
  }

  .final-demo-button {
    margin-top: 60px;
  }
}